<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <br /><br />


  <ion-card *ngFor="let provider of providers">
    <ion-item>
      <ion-label>{{provider.name}}</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            Email :
          </ion-col>
          <ion-col>
            {{provider.email}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            ADDRESS :
          </ion-col>
          <ion-col>
            {{provider.adress}}
          </ion-col>
        </ion-row>


      </ion-grid>

    </ion-card-content>
  </ion-card>



</ion-content>